<h2 class="font-heading text-center text-4xl">
  “Where is human nature so weak as in the bookstore?”
</h2>

<style>
  h2 {
    background-image: url(https://media.giphy.com/media/DPH2d2WQsvTVEDVa2p/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
  }
</style>
