---
import Icon from "astro-icon";
---

<header
  class="flex justify-between items-center px-4 fixed top-0 left-0 w-full h-fit border-b-2 border-b-primary-50 border-opacity-25 z-50 bg-background-950"
>
  <h1
    class="text-3xl font-heading text-text-50 hover:underline hover:text-text-200"
  >
    <a href="/">fehrist</a>
  </h1>

  <nav class="flex justify-between items-center gap-5">
    <a
      href="https://github.com/USKhokhar/fehrist/blob/master/README.md"
      target="_blank"
    >
      <Icon class="nav__icons" name="carbon:information" />
       about
    </a>

    <a href="https://github.com/USKhokhar/fehrist" target="_blank">
      <Icon class="nav__icons" name="carbon:logo-github" />
       contribute
    </a>
  </nav>
</header>

<style>
  nav a {
    @apply text-text-50 hover:text-text-200 text-base hover:underline hover:underline-offset-1 flex justify-start items-center gap-1;
  }

  .nav__icons {
    @apply w-5 h-5;
  }
</style>
